<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - LostAndFound</title>
    @*<link rel="shortcut icon" href="@Url.Content("~/images/bnbico.jpg")" type="image/x-icon" />*@
    <link rel="shortcut icon" href="@Url.Content("~/images/JasonLogo.jpg")" type="image/x-icon" />

    <link href="~/CustomSelectOption/select2.min.css" rel="stylesheet" />

    <link href="~/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    @*<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@

    <!-- Custom Date Picker-->
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this page -->
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    @*loading bar*@
    <link href="~/loading-bar/dist/loading-bar.css" rel="stylesheet" />

   <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" rel="preload">

    <!-- Compiled and minified CSS -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@

    <style>

        /*body {
            font-size: 11pt !important;
        }*/
        body {
            font-size: 11pt !important;
            font-family: 'Roboto', sans-serif;
        }

        /*for tab control*/
        div.login-logout-tab div.card-header {
            padding: 0px 0px 12px 0px;
        }

        div.login-logout-tab ul.nav-tabs {
            margin: 0px 0px -12px 0px;
        }

        div.login-logout-tab li.nav-item {
            width: 50%;
        }

        div.login-logout-tab a.nav-link {
            font-size: 25px;
            color: #495057;
            text-align: center;
        }

        div.card-content {
            padding: 10px 20px;
        }

        /*login form*/
        div.login-form-icon {
            text-align: center;
        }

        /* Wrapping element */
        /* Set some basic padding to keep content from hitting the edges */
        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }

        /* Carousel */
        .carousel-caption p {
            font-size: 20px;
            line-height: 1.4;
        }

        /* Make .svg files in the carousel display properly in older browsers */
        .carousel-inner .item img[src$=".svg"] {
            width: 100%;
        }

        table .btn {
            font-size: 8pt !important;
            padding: 3px 5px 3px 5px !important;
        }

        table th, table td {
            /*padding: 2px 2px 2px 2px !important;*/
            color: black !important;
            font-weight: normal !important;
        }

        .col-form-label {
            color: #606066 !important;
            font-weight: normal !important;
            padding: 0 0 0 0;
        }

        .form-control {
            color: #606066 !important;
            font-size: 10pt !important;
            padding: 1px 20px 1px 8px;
            border: 1px solid #606066;
            height: 30px;
        }

        .form-group {
            margin-bottom: 6px !important;
        }

        /*.gj-datepicker-bootstrap [role=right-icon] button {
            border: 1px solid #606066 !important;
        }

            .gj-datepicker-bootstrap [role=right-icon] button .gj-icon {
                top: 5px !important;
            }*/

        .nav .nav-item {
            background: #30994c !important;
            border-radius: 3px !important;
        }

        /*Parsly  Section*/
        input.parsley-success,
        select.parsley-success,
        textarea.parsley-success {
            color: #468847;
            background-color: #DFF0D8;
            border: 1px solid #D6E9C6;
        }

        input.parsley-error,
        select.parsley-error,
        textarea.parsley-error {
            color: #B94A48;
            background-color: #F2DEDE;
            border: 1px solid #EED3D7;
        }

        .parsley-errors-list {
            margin: 2px 0 3px;
            padding: 0;
            list-style-type: none;
            font-size: 0.9em;
            line-height: 0.9em;
            opacity: 0;
            transition: all .3s ease-in;
            -o-transition: all .3s ease-in;
            -moz-transition: all .3s ease-in;
            -webkit-transition: all .3s ease-in;
        }

            .parsley-errors-list.filled {
                opacity: 1;
            }

        .parsley-type, .parsley-required, .parsley-equalto {
            color: #ff0000;
        }
        /*Parsly  Section*/

        .btnCustom {
            background-color: #004474;
        }

        .ui-autocomplete {
            cursor: pointer;
            height: 400px;
            width: 300px;
            overflow-y: scroll;
            /*background-color: white;
            color: rgb(0,188,212);*/
            z-index: 1050;
            /*outline-style:outset;*/
        }

        .buttons-excel {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: #fff;
            background-color: #36b9cc;
            border-color: #36b9cc;
        }

        .buttons-print {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: #fff;
            background-color: #1cc88a;
            border-color: #1cc88a;
        }

        .buttons-csv {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: white !important;
            background-color: green !important;
            border: 1px solid green !important;
        }

        .identity-box {
            color: black;
            font-weight: bolder;
            text-align: right;
            background: #d4d6d8;
            padding: 5px;
            border-radius: 5px;
        }

        .identity-box-center {
            color: black;
            font-weight: bolder;
            text-align: center;
            background: #eff2f4;
            padding: 5px;
            border-radius: 5px;
        }
        /*Manu dropdown*/

        .dropbtn {
            padding: 16px;
            font-size: 16px;
            border: none;
            color: white !important;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }


        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #f76969;
        }
        /*Manu dropdown*/

        .lng_btn_cls {
            background: none;
            font-size: 27px;
            font-weight: bold;
            color: white;
        }
        
    </style>


    @RenderSection("Style", required: false)
</head>
<body>
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light topbar static-top shadow" style="background: linear-gradient(-45deg,#FF5722 50%,white 10%);">

        @*<img src="~/images/JasonLogo.png" style="height:124%;" />*@
        @*<img src="~/Assets/logo.jpg" alt="Inventory" style="height:124%;width:10%" />*@
        <img src="~/images/logo02.jpeg" height="70" width="90" class="rounded-circle" />
        @*<span style="font-weight: bolder; color: black; font-size: 18pt; padding-left: 5px;">Accounting</span>*@

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Alerts -->
            @*<li class="nav-item dropdown no-arrow mx-1 mr-4" style="margin-right: 0;padding-right:0">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-donate text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 7, 2019</div>
                            $290.29 has been deposited into your account!
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </li>*@
            <!-- Dropdown Trigger -->

            <li class="nav-item no-arrow">
                <div class="btn-group" role="group" aria-label="Basic example" style="padding-top:20px;">
                    <button id="lanENG" type="button" style="font-size:10px;" class="btn btn-default lng_btn_cls">ENG</button>
                    <button id="lanBAN" type="button" style="font-size:10px;" class="btn btn-default lng_btn_cls">বাংলা</button>
                </div>
            </li>
            @*<div class="topbar-divider d-none d-sm-block"></div>*@
            <!-- Nav Item - Admin Info -->
            @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>*@
            @*<div class="topbar-divider d-none d-sm-block"></div>*@
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Super Admin"))
                {
                    @*<li class="nav-item dropdown no-arrow mx-1 mr-2" style="margin-right: 0">
                        <span class="nav-link dropbtn" href="javascript:void(0)">Admin &nbsp;<i class="fa fa-caret-down"></i></span>
                        <div class="dropdown-content">
                            <a asp-area="Auth" asp-controller="">User Role Entry</a>
                            <a asp-area="Auth" asp-controller="Account" asp-action="AssignRole">Role Assign</a>
                            <a asp-area="Auth" asp-controller="Account" asp-action="Register">User List</a>
                        </div>

                    </li>*@

                    <li class="nav-item dropdown no-arrow mx-1 mr-2" style="margin-right: 0">
                        <span class="nav-link dropbtn" href="javascript:void(0)">Vehicle &nbsp;<i class="fa fa-caret-down"></i></span>
                        <div class="dropdown-content" style="width:200px;max-height:500px;overflow-y:scroll;">
                            <a asp-area="MasterData" asp-controller="VehicleInformation" asp-action="Index">Vehicle Type</a>
                            <a asp-area="MasterData" asp-controller="VehicleInformation" asp-action="VehicleModel">Vehicle Brand</a>
                            <a asp-area="MasterData" asp-controller="MasterInformation" asp-action="ColorInfo">Colors</a>
                            <a asp-area="MasterData" asp-controller="VehicleInformation" asp-action="MetropolitanArea">Metropolitan Area</a>
                            <a asp-area="MasterData" asp-controller="VehicleInformation" asp-action="RegistrationLevel">Registration Level</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown no-arrow mx-1 mr-2" style="margin-right: 0">
                        <span class="nav-link dropbtn" href="javascript:void(0)">Man &nbsp;<i class="fa fa-caret-down"></i></span>
                        <div class="dropdown-content" style="width:200px;max-height:500px;overflow-y:scroll;">
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="RelationType">Relation</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="AgePeriod">Age Period</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="NumberType">Number Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="Religion">Religion</a>
                            <a asp-area="MasterData" asp-controller="MasterInformation" asp-action="OccupationInfo">Occupation</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="MeterialCondition">Meterial Status</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="HabitInfo">Habits</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="SpeechInfo">Speech</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="AddressSourceType">Address Source Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="EyeType">Eye Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="NoseType">Nose Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="ForeHeadType">Fore Head Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="BeardType">Beard Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="BodyStructure">Physical Constitution</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="FaceShapeType">Face Shape Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="BodyChinType">Chin Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="BodyColor">Skin Color</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="MoustacheType">Moustache Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="EarType">Ear Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="NeckType">Neck Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="SpecialBirthMarkType">Special Birth Mark</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="SpecialBirthMarkBodyPart">Special Birth Mark-Organ</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="SpecialBirthMarkBodyPartPosition">Special Birth Mark-Position</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="TeethType">Description of Teeth</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="SpecialBodyCondition">Special Body Condition</a>

                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="InTheHead">In The Head</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="InTheBody">In The Body</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="InTheLegs">In The Legs</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="InTheThroat">In The Throat</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="InTheWaist">In The Waist</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown no-arrow mx-1 mr-2" style="margin-right: 0">
                        <span class="nav-link dropbtn" href="javascript:void(0)">Others &nbsp;<i class="fa fa-caret-down"></i></span>
                        <div class="dropdown-content" style="width:200px;max-height:500px;overflow-y:scroll;">
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="CareType">Care Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="DeadbodyCondition">Deadbody Condition</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="DeathType">Death Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="HairType">Hair Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="HeadType">Head Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="MeasurementType">MeasurementType</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="MouthType">Mouth Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="NeckType">Neck Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="NoseType">Nose Type</a>

                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="SpecialBirthMarkType">Special Birth Mark Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="SpecialBirthMarkBodyPart">Special Birth Mark In Limbs</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="SpecialBirthMarkBodyPartPosition">Special Birth Mark Position</a>

                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="NumberType">Number Type</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="PurposeOfVisite">Purpose Of Visit</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="TeethType">Teeth Type</a>
                            <a asp-area="MasterData" asp-controller="MDOtherItems" asp-action="ElectronicsType">Electronics Type</a>
                            <a asp-area="MasterData" asp-controller="MDOtherItems" asp-action="FileDocumentType">File Document Type</a>
                            <a asp-area="MasterData" asp-controller="MDOtherItems" asp-action="MobilePhoneType">Mobile Phone Type</a>
                            <a asp-area="MasterData" asp-controller="MDOtherItems" asp-action="OtherBrandMobile">Mobile Brand</a>
                            <a asp-area="MasterData" asp-controller="MDOtherItems" asp-action="OtherBrandWatch">Watch Brand</a>
                            <a asp-area="MasterData" asp-controller="MDOtherItems" asp-action="OtherBrandShoes">Shoes Brand</a>
                            <a asp-area="MasterData" asp-controller="MDOtherItems" asp-action="OtherBrandBag">Bag Brand</a>
                            <a asp-area="MasterData" asp-controller="MDOtherItems" asp-action="OtherBrandelEctronics">Electronics Brand</a>
                            <a asp-area="MasterData" asp-controller="MDOtherItems" asp-action="OtherBrandelJwellary">Jwellary Brand</a>
                            <a asp-area="MasterData" asp-controller="MDOtherItems" asp-action="OtherBrandelGlass">Glass Brand</a>
                            <a asp-area="MasterData" asp-controller="MDOtherItems" asp-action="OtherBrandelUmbrella">Umbrella Brand</a>
                        </div>

                    </li>

                    <li class="nav-item dropdown no-arrow mx-1 mr-2" style="margin-right: 0">
                        <span class="nav-link dropbtn" href="javascript:void(0)" style="color:white!important;cursor:pointer;">Data &nbsp;<i class="fa fa-caret-down"></i></span>
                        <div class="dropdown-content" style="width:200px;max-height:500px;overflow-y:scroll;">
                            <a asp-area="MasterData" asp-controller="MasterInformation" asp-action="GDTypeInfo">GD Type</a>
                            <a asp-area="MasterData" asp-controller="MasterInformation" asp-action="ProductType">Product Type</a>
                            <a asp-area="MasterData" asp-controller="MasterInformation" asp-action="NationalIdentityType">Natinoal Identity</a>
                            <a asp-area="MasterData" asp-controller="MasterInformation" asp-action="Index">Document Type</a>
                            <a asp-area="MasterData" asp-controller="MasterInformation" asp-action="DocumentCategory">Document Category</a>
                            <a asp-area="MasterData" asp-controller="MasterInformation" asp-action="ComputerAccessoriesBrand">Computer Accessories Brand</a>
                            <a asp-area="MasterData" asp-controller="MasterInformation" asp-action="AnimalInfo">Animals</a>
                            <a asp-area="MasterData" asp-controller="MasterInformation" asp-action="ColorInfo">Colors</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="ReligionCust">Religion Cust</a>
                            <a asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="MaritalStatus">Marital Status</a>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropbtn" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">Home</a>
                    </li>
                }
                else if (User.IsInRole("General User"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Dashboard" style="color:white;">Home</a>
                    </li>
                }
            }
            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->

            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline small" style="color: white">@User.Identity.Name</span>
                    <img class="img-profile rounded-circle" src="~/images/user.png">
                </a>

                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePasswordModal">
                        <i class="fas fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                        Change Password
                    </a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->

    <div id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="menu">

            </div>

            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Begin Page Content -->
                    <div class="col-md-1"></div>
                    <div class="container-fluid col-md-10" style="padding: 0 8px;">
                        @RenderBody()
                    </div>
                    <div class="col-md-1"></div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

    </div>

    <div id="test" style="position:fixed;right:0px;bottom:0px">
        <img style="background:white;" src="~/images/chatbox.PNG" width="50" height="50" class="rounded-circle img-responsive">
    </div>
    <div id="wrapper">
        <a id="btnclose" class="btnclose" href="#">X</a>
        <div id="chatbot-chat" class="rounded" style="background-color: rgba(255,255,255,0.5); pointer-events: none; z-index: 2147483639; position: fixed; right: 0px; bottom: 70px; border: 0px; width: 400px; height: 550px; overflow: hidden; opacity:1;">
            @*<iframe src="http://103.134.88.13:122/CustoomChatBox#totaMessagesContainerLast" id="chatbot-chat-frame" style="pointer-events: all; background: none; border: 0px; float: none; border:none; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px;"></iframe>*@
            <iframe id="chatbot-chat-frame" style="pointer-events: all; background: none; border: 0px; float: none; border:none; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px;"></iframe>
        </div>
    </div>

    @*<footer class="sticky-footer bg-white">
            <div class="my-auto">
                <div class="copyright text-center my-auto">
                    <span><a href="https://www.opus-bd.com/" target="_blank" style="text-decoration:none;"> OPUS Technology Ltd </a>&copy; @DateTime.Now.Year</span>
                </div>
            </div>
        </footer>*@
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <form asp- method="post" asp-area="Auth" asp-controller="Account" asp-action="Logout" id="logoutForm" class="navbar-right">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button type="submit" onclick="ClearLocalStorage()" class="btn btn-success">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal-->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<img src="~/images/Aloha New Logo.png" style="height:50px;" />*@
                    <h5 class="modal-title" id="exampleModalLabel">Change Password </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="changePasswordForm" data-parsley-validate="parsley">
                        <div class="form-group row">
                            <label class="col-md-4 col-lg-4 col-sm-12" style="color:black;" for="OldPassword">Current Password<span style="float:right;">:</span></label>
                            <div class="col-md-8 col-lg-8 col-sm-12">
                                <input type="password" class="form-control" id="OldPassword" name="OldPassword" autocomplete="off" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-lg-4 col-sm-12" style="color:black;" for="Password">New Password<span style="float:right;">:</span></label>
                            <div class="col-md-8 col-lg-8 col-sm-12">
                                <input type="password" class="form-control" id="Password" name="Password" autocomplete="off" data-parsley-required="true" />
                                <label class="errorMessage" style="color:red"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-lg-4 col-sm-12" style="color:black;" for="ConfirmPassword">Confirm Password<span style="float:right;">:</span></label>
                            <div class="col-md-8 col-lg-8 col-sm-12">
                                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" autocomplete="off" data-parsley-required="true" />
                                <label class="errorMessage" style="color:red"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <button type="button" onclick="changePassBtnSubmit()" style="float:right;" class="btn btn-success ml-1">Change</button>
                                <button class="btn btn-secondary" type="button" style="float:right" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Page level plugins -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>


    @*dropdown with search*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>*@
    <script src="~/CustomSelectOption/select2.min.js"></script>

    @*loading bar*@
    <script src="~/loading-bar/dist/loading-bar.js"></script>

    <!-- Custom Date Picker-->
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/SweetAlert/sweetalert2.common.js"></script>
    <script src="~/SweetAlert/sweetalert2.js"></script>
    <script src="~/js/jquery.autocomplete.js" type="text/javascript"></script>

    <script type="text/javascript" src="~/js/canvas/jquery.canvasjs.min.js"></script>
    <!-- Comon Ajax Lib -->
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript" src="~/js/jquery.number.js"></script>
    <script type="text/javascript" src="~/js/jquery.number.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/js/datatabledate.js" type="text/javascript"></script>
    <!-- Custom scripts for all pages-->
    @*<script srdflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>*@

    <script type="text/javascript">

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            location.reload(true);
        }

        function getCookie(name) {
            var re = new RegExp(name + "=([^;]+)");
            var value = re.exec(document.cookie);
            return (value != null) ? unescape(value[1]) : null;
        }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#lanBAN').click(function () { setCookie('lang', 'bn', 30); });
            $('#lanENG').click(function () { setCookie('lang', 'en', 30); });

            @*$('#menu').load('@Url.Action("Navigation", "Home")');*@
            //$('#menu').load('@Url.Action("AssignPage", "Home")');
            var lang = getCookie('lang');

            $("#chatbot-chat").hide();
            $("#btnclose").hide();
            var BaseUrl = "";
            var ip = location.host;
            if (ip == 'localhost:23999') {
                BaseUrl = 'http://localhost:23999/CustoomChatBox?lang=' + lang;
            }
            else {
                BaseUrl = 'http://103.134.88.13:122/CustoomChatBox?lang=' + lang;
            }
            var i = 0;
            $("#test").click(function () {
                if (i % 2 == 0) {
                    $('#chatbot-chat-frame').prop('src', BaseUrl);
                    $("#chatbot-chat").show();
                    $("#btnclose").show();
                } else {
                    $('#chatbot-chat-frame').removeAttr('src');
                    $("#chatbot-chat").hide();
                    $("#btnclose").hide();
                }
                i++;
            });

            $("#btnclose").click(function () {
                window.location.reload();
                $("#btnclose").hide();
            });


            // Password Validation

            $('.customSelect').select2();
            $(".errorMessage").hide();

            $("#Password").keyup(function () {

                var pass = $("#Password").val();
                var confirmPass = $("#ConfirmPassword").val();

                if (pass != '' && pass != null && confirmPass != '' && confirmPass != null) {

                    if (pass != confirmPass) {

                        $(".errorMessage").text("password and confirm password does't match");
                        $(".errorMessage").show();
                    }
                    else {

                        $(".errorMessage").hide();
                    }
                }

            });

            $("#ConfirmPassword").keyup(function () {

                var pass = $("#Password").val();
                var confirmPass = $("#ConfirmPassword").val();


                if (pass != '' && pass != null && confirmPass != '' && confirmPass != null) {

                    if (pass != confirmPass) {

                        $(".errorMessage").text("password and confirm password does't match");
                        $(".errorMessage").show();
                    }
                    else {

                        $(".errorMessage").hide();
                    }
                }

            });

            // end password validation

        });

        function changePassBtnSubmit() {

            var myData = $("#changePasswordForm").serialize();


            var oldPass = $("#OldPassword").val();
            var pass = $("#Password").val();
            var confirmPass = $("#ConfirmPassword").val();


            if (oldPass == null || oldPass == '') {

                swal('Warning', 'Invalid OldPassword!', 'warning');
                return false;
            }
            else if (pass == null || pass == '') {

                swal('Warning', 'Invalid Password!', 'warning');
                return false;
            }
            else if (confirmPass == null || confirmPass == '') {

                swal('Warning', 'Invalid Confirm Password!', 'warning');
                return false;
            }
            else if ((pass != '' && pass != null && confirmPass != '' && confirmPass != null)) {

                if (pass != confirmPass) {

                    $(".errorMessage").text("password and confirm password does't match");
                    $(".errorMessage").show();

                    swal('Warning', 'Password and Confirm Password Does Not Match!', 'warning');
                    return false;
                }
            }



            $.ajax({

                url: "/Auth/Account/ChangePassword",
                type: "post",
                data: myData,
                success: function (response) {

                    if (response == "success") {

                        swal({
                            title: 'Success!', text: 'Password Update Successfully', type: 'success', confirmButtonColor: '#3085d6', confirmButtonText: 'Ok!',
                        }).then(function () {
                            window.location.href = "/Home/Index";
                        });
                    }
                    else {

                        swal('error', 'Something is Wrong Please Try Again !!!', 'error');
                        return false;
                    }

                }
            });

        }

        function ClearLocalStorage() {
            window.localStorage.clear();
        }

        var BaseUrl = location.host;

    </script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" type="text/javascript"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
