@model VehicleInformationViewModel
@{
    ViewData["Title"] = "Vehicle Model";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="text-align: center">
    <br />
    <div class="card">
        <div class="card-header">
            <h5 class="font-weight-bold" style="color: black">@Model.fLang.modelTitle</h5>
        </div>
        <div class="card-body">
            <form asp-area="MasterData" asp-controller="VehicleInformation" asp-action="VehicleModel" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">

                        <div class="form-group row">
                            <label class="col-form-label col-md-2">@Model.fLang.vehicleType <span style="color:red">*</span></label>
                            <div class="col-md-5">
                                <select id="vehicleTypeId" name="vehicleTypeId" class="form-control" required>
                                    <option value=""></option>
                                    @foreach (var item in Model.vehicleTypes)
                                    {
                                        <option value="@item.Id">@item.vehicleTypeName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-2">@Model.fLang.vehicleModel <span style="color:red">*</span></label>
                            <div class="col-md-5">
                                <input type="text" id="modelName" name="modelName" class="form-control" required />
                                <input type="hidden" id="modelId" name="modelId" value="0" />
                            </div>
                        </div>

                        
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">@Model.fLang.photo</label>
                            <div class="col-md-5" style="float:left;">
                                <img id="vehicleImage" height="150" width="140" class="img-circle" /><br />
                                <input type="file" name="formFile" id="formFile" />
                            </div>
                        </div>
                        

                    </div>

                </div>

                <div style="height:20px;"></div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                       
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0 row">
                        <button type="button" onclick="Refresh()" class="btn btn-warning">
                            @Model.fLang.refreshButton
                        </button> &nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary">
                            @Model.fLang.submitButton
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            <h5 class="font-weight-bold" style="color: black;">@Model.fLang.modelListTitle</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table id="tblVehicleList" class="table table-striped">
                        <thead>
                            <tr>
                                <th>@Model.fLang.vehicleType</th>
                                <th>@Model.fLang.vehicleModel</th>
                                <th>@Model.fLang.photo</th>
                                <th>@Model.fLang.action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model.vehicleModels)
                            {
                            <tr>
                                <td>@data.vehicleType.vehicleTypeName</td>
                                <td>@data.modelName</td>
                                <td><img src="/@data.imagePath" width="50" height="50" /></td>
                                <td>
                                    <a href="javascript:void(0)" onclick="Edit(@data.Id,@data.vehicleTypeId,'@data.modelName','@data.imagePath')" title="Edit" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                    <a href="javascript:void(0)" onclick="Delete(@data.Id)" title="Delete" class="btn btn-danger"><i class="fas fa-trash-alt" s></i></a>
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div style="height:350px;"></div>
</section>


@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#tblVehicleList').DataTable();

            $("#formFile").change(function () {
                var fileSize = (this.files[0].size);
                var file = this.files[0];
                var fileType = file["type"];
                var validImageTypes = ["image/gif", "image/jpeg", "image/png"];
                if ($.inArray(fileType, validImageTypes) < 0) {
                    swal('Attention!', 'Uploaded photo must be a image type!', 'warning');
                    return false;
                } else if (fileSize > 300000) {
                    swal('Attention!', 'Photo size must be less then or equal 20kb.', 'warning');
                    return false;
                }

                readPictureURL(this);

            });

        });

        function Edit(id,vehicleId, name,imagePath) {
            $('#vehicleTypeId').val(vehicleId);
            $('#modelId').val(id);
            $('#modelName').val(name);
            $('#vehicleImage').val(imagePath);
        }

        function Refresh() {
            location.reload();
        }

        function Delete(id) {
            swal({
                title: 'Are you sure?', text: "You want to save this data!", type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, save it!'
            }).then(function () {
                $.ajax({
                    type: "POST",
                    url: "/MasterData/VehicleInformation/DeleteVehicleModel",
                    data: { id: id },
                    success: function (res) {
                        swal({
                            title: 'Success!',
                            text: 'Deleted Successfully!',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok!',
                        }).then(function () {
                            window.location.href = "/MasterData/VehicleInformation/VehicleModel";
                        });

                    },
                    error: function (s, err) {
                        swal('Attention!', 'Uable to Delete! ' + err, 'warning');
                    }
                });
            });
        }

        function readPictureURL(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#vehicleImage').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }

    </script>
}

