@model ExtendedMasterDataViewModel
@{
    ViewData["Title"] = "Master Data";
}

<section style="text-align: center">
    <br />
    <div class="card">
        <div class="card-header">
            <h5 class="font-weight-bold" style="color: black">Age Period</h5>
        </div>
        <div class="card-body">
            <form asp-area="MasterData" asp-controller="ExtendedMasterData" asp-action="AgePeriod" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">

                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Period Name (English) <span style="color:red">*</span></label>
                            <div class="col-md-5">
                                <input type="text" id="nameEnglish" name="nameEnglish" class="form-control" required />

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Period Name (Bangla)</label>
                            <div class="col-md-5">
                                <input type="text" name="nameBangla" id="nameBangla" class="form-control" />
                                <input type="hidden" id="id" name="id" value="0" />
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div style="height:20px;"></div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">

                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0 row">
                        <button type="button" onclick="Refresh()" class="btn btn-warning">
                            @Model.fLang.refreshButton
                        </button> &nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary">
                            @Model.fLang.submitButton
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            <h5 class="font-weight-bold" style="color: black;">Age Period List</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table id="tblVehicleList" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Period Name (English)</th>
                                <th>Period Name (Bangla)</th>
                                <th>@Model.fLang.action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model.AgePeriods)
                            {
                                <tr>
                                    <td>@data.periodName</td>
                                    <td>@data.periodNameBn</td>
                                    <td>
                                        <a href="javascript:void(0)" onclick="Edit(@data.Id,'@data.periodName','@data.periodNameBn')" title="Edit" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                        <a href="javascript:void(0)" onclick="Delete(@data.Id)" title="Delete" class="btn btn-danger"><i class="fas fa-trash-alt" s></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div style="height:350px;"></div>
</section>


@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#tblVehicleList').DataTable();

        });

        function Edit(id, nameEnglish, nameBangla) {

            $('#id').val(id);
            $('#nameEnglish').val(nameEnglish);
            $('#nameBangla').val(nameBangla);

            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        function Refresh() {
            location.reload();
        }

        function Delete(id) {
            swal({
                title: 'Are you sure?', text: "You want to delete this data!", type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'
            }).then(function () {
                $.ajax({
                    type: "POST",
                    url: "/MasterData/ExtendedMasterData/DeleteAgePeriodById",
                    data: { id: id },
                    success: function (res) {
                        swal({
                            title: 'Success!',
                            text: 'Deleted Successfully!',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok!'
                        }).then(function () {
                            window.location.href = "/MasterData/ExtendedMasterData/AgePeriod";
                        });

                    },
                    error: function (s, err) {
                        swal('Attention!', 'Unable to Delete! ' + err, 'warning');
                    }
                });
            });
        }
        
    </script>
}

